@use "../varibles" as *;
@use "../media" as *;
@use "../mixin" as *;

.testimonial {
    background-color: var(--bg);
    height: 100vh;

    // @include table {
    //     height: auto;
    // }
}

.testimonial__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.testimonial__wrapper {
    height: auto;
    margin-bottom: 50px;

    @include table {
        margin-bottom: 10px;
    }
}

.testimonial__header {
    text-align: center;
    justify-items: center;
}

.testimonial-card {
    background-position: center;
    background-size: cover;
    max-width: 370px;
    box-shadow: 0 8px 8px 0 rgba(7, 26, 29, 0.1);
    background-color: #ededed;
    height: auto;
    width: 100%;
    padding: 43px 30px;

    @include table-xs {
        max-width: 320px;
    }

    &.swiper-slide-active {
        background-color: white;
    }
    // .testimonial-card__image-wrapper

    &__image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: url("./img/testimonial/bg-testimonial.svg");
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        padding: 35px;
        margin-bottom: 20px;
    }

    // .testimonial-card__img

    &__img {
        border-radius: 16px;
        max-width: 62px;
        height: 62px;
        object-fit: contain;
    }

    // .testimonial-card__name

    &__name {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        color: var(--testimonial-color-title);
        margin-bottom: 20px;
    }

    // .testimonial-card__description

    &__description {
        font-family: var(--font-family);
        font-weight: var(--font-regular);
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        color: var(--dark);
    }

    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        background: none;
    }

    &__wrapper {
        width: 100%;
    }
}
